<!doctype html>
<html lang="en" class="no-js">
<head itemscope itemtype="http://schema.org/WebSite">
    <!-- Structural Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Descriptive Meta -->
    <title itemprop="name">Recycles</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Paul Morel">
    <link rel="canonical" href="" itemprop="url">
    <link rel="publisher" href="">

    <!-- Open Graph -->
    <meta property="og:title" content="">
    <meta property="og:locale" content="">
    <meta property="og:type" content="website">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image:src" content="">

    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/styles.css">

    <!-- JS -->

</head>
<body itemscope itemtype="http://schema.org/WebPage">
    <header class="masthead" role="banner">

    </header><!-- end header.masthead -->
    <nav role="navigation">

    </nav><!-- end nav -->
    <main role="main">
        {{#markdown}}

            {{> body}}

        {{/markdown}}
    </main><!-- end main -->
    <footer role="contentinfo">

    </footer><!-- end footer -->
</body>
</html>
